@{
    CurrentLayout = "FullWidthLayout";
    CurrentLanguage = ThemeHelper.GetCurrentLanguage();
    NccTranslator<ThemeResources> _TT = new NccTranslator<ThemeResources>(CurrentLanguage);
}

<!DOCTYPE html>
<html>
<head>
    @NccRenderHead()
    @Html.Raw(JavaScriptSnippet.FullScript)
    @NccRenderHeaderCss()
    @NccRenderHeaderScripts()

    @RenderSection(ThemeHelper.Sections.StyleHeader, required: false)
    @RenderSection(ThemeHelper.Sections.ScriptHeader, required: false)
    @RenderSection("Styles", required: false)
</head>
<body id="body">
    <!-- Loading -->
    @NccRenderLoadingMaskContainer()
    <!-- Header -->
    @NccRenderHeader()
    <!-- Navbar -->
    @NccRenderNavigation()

    <!--  Main Body Start -->
    <div class="container mainBody">
        <!-- Main content Start -->
        <div class="col-md-12">
            <!-- Featured Start -->
            @NccRenderFeaturedSection()

            <!-- Container for showing global messages. -->
            <div class="row">
                @NccRenderGlobalMessageContainer()
            </div>

            @NccRenderBody()
        </div>
    </div>

    <!--  Footer -->
    @NccRenderFooter()
    @NccRenderFooterCss()
    @NccRenderFooterScripts()
    @RenderSection(ThemeHelper.Sections.StyleFooter, required: false)
    @RenderSection(ThemeHelper.Sections.ScriptFooter, required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>

