@{
    ViewBag.CurrentLayout = "LeftColumnLayout";
}

<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("Parts/_Head")
        @Html.Raw(JavaScriptSnippet.FullScript)
        @RenderSection("Styles", required: false)
    </head>
    <body id="body">
        <!-- Zone TOP Start-->
        <!-- Header -->
        @Html.Partial("Parts/_Header")

        <!-- Navbar -->
        <nav id="mainNavbar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    @Html.Partial("Parts/_NavbarPart")
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Raw(MenuHelper.PrepareMenuHtml("Navigation", LanguageDetector.GetCurrentLanguage()))
                    <div class="userMenu">
                        @await Html.PartialAsync("_SiteLoginPartial")
                    </div>
                </div>
            </div>
        </nav>        
        <!-- Zone TOP End-->

        <!--  Main Body Start -->
        <div class="container mainBody">   
            <!-- Left Column start -->                 
            @Html.Partial("Parts/_LeftColumn")
            <!-- Left Column end -->

            <!-- Main content Start -->
            <div class="col-md-10">
                <!-- Featured Start -->
                @Html.Partial("Parts/_Featured")
                <!-- Featured End -->

                @RenderBody()
            </div>
            <!-- Main content End -->

        </div>
        <!--  Main Body End -->

        <!--  Footer Start -->
        @Html.Partial("Parts/_Footer")
        @RenderSection("Scripts", required: false)
    </body>
</html>

