@{
    CurrentLayout = "SearchLayout";      
}

<!DOCTYPE html>
<html lang="@CurrentLanguageCode">
<head>
    @NccRenderHead()
    @Html.Raw(JavaScriptSnippet.FullScript)
    @NccRenderHeaderCss()
    @NccRenderHeaderScripts()

    @RenderSection(ThemeHelper.Sections.StyleHeader, required: false)
    @RenderSection(ThemeHelper.Sections.ScriptHeader, required: false)
    @RenderSection("Styles", required: false)
</head>
<body id="body">
    <!--MessageContainer-->
    <div class="row">
        @NccRenderMessages()
    </div>    
    <!--GlobalMessages-->
    @NccRenderGlobalMessages()
    <!--Loading-->
    @NccRenderLoadingMaskContainer()
    <!--Header-->
    @NccRenderHeader()
    <!--Navbar-->
    @NccRenderNavigation("Parts/_NavigationNoSearch")

    <!--MainBody-->
    <div class="container mainBody">
        <!--LeftColumn-->
        @NccRenderLeftColumn()

        <!--RightColumn-->
        @NccRenderRightColumn()

        <!--Maincontent-->
        <div class="col-md-@BodyWidth">
            <!--Featured-->
            @NccRenderFeaturedSection() 
            @NccRenderBody()
        </div>
    </div>

    <!--Footer-->
    @NccRenderFooter()
    @NccRenderFooterCss()
    @NccRenderFooterScripts()
    @RenderSection(ThemeHelper.Sections.StyleFooter, required: false)
    @RenderSection(ThemeHelper.Sections.ScriptFooter, required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>

