@using NetCoreCMS.Modules.Subscription.Models
@using System.Collections

@model List<SubscriptionUser>

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "User List";
    ViewData["PageSubtitle"] = "All Subscribed user list";
    var controllerName = "SubscriptionUser";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
            </div>
            <div class="panel-body">
                <table id="pageListDt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @*<th class="text-center">Name</th>*@
                            <th class="text-center">Email</th>
                            @*<th class="text-center">Mobile</th>*@
                            @*<th class="text-center">Remarks</th>*@
                            <th class="text-center">Creation Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                @*<td>@item.Name</td>*@
                                <td>@item.Email</td>
                                @*<td>@item.Mobile</td>*@                                
                                @*<td>@item.Remarks</td>*@
                                <td>@item.CreationDate</td>
                                <td>
                                    <a asp-controller="@controllerName" asp-action="SendEmail" asp-route-id="@item.Id" class="btn btn-xs btn-info">Send Email</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{
    <link href="~/lib/DataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap.min.js"></script>
}
