@using NetCoreCMS.Modules.OnlineExam.Models
@{
    var controllerName = "OeQuestion";
    List<OeStudentQuestionSet> list = ViewBag.StudentResultList;
}

<div class="row">
    @if (list.Count > 0)
    {
        <div class="col-md-4 text-center">
            <div class="col-md-12" style="border: 1px solid #CCC; border-radius: 0px;box-shadow: 1px 1px 1px #888888;">
                <div class="row">
                    <h3><strong>My Result</strong></h3>
                    <hr />
                </div>
                @foreach (var item in list)
                {
                    <div style="margin-bottom:10px;">
                        <a class="btn btn-primary" style="width:80%;" asp-controller="@controllerName" asp-action="Result" asp-route-id="@item.Id" title="Click to view the details result. Exam Date: @item.CreationDate.ToString("MMM dd, yyyy (hh:mm tt)")">
                            <div class="pull-left">
                                <strong>@item.Exam.Name</strong>
                                @if (item.Version == 1)
                                {
                                    <span>(Bangla)</span>
                                }
                                else
                                {
                                    <span>(English)</span>
                                }
                            </div>
                            <div class="pull-right">
                                <span>@item.TotalMarks<strong> / </strong>@item.Exam.TotalMarks</span>
                            </div>
                        </a>
                        @if (item.Exam.IsRetake==false)
                        {
                            <a class="btn btn-default" style="width:10%;" title="You can not retake this exam" asp-controller="@controllerName" asp-action="Result" asp-route-id="@item.Id">R</a>
                        }
                        else if (item.CreationDate.AddMinutes(item.Exam.TotalTimeInMin) > DateTime.Now && item.Exam.TotalQuestion > item.NotAnswered)
                        {
                            <a class="btn btn-default" style="width:10%;" title="You can retake the exam after @item.Exam.TotalTimeInMin minute">R</a>
                        }
                        else
                        {
                            <a class="btn btn-success" style="width:10%;" asp-controller="@controllerName" asp-action="Index" asp-route-prn="@item.Student.PrnNo" asp-route-reg="@item.Student.RegistrationNo" asp-route-id="@item.Exam.Id" asp-route-version="@item.Version" asp-route-isReExam="true" title="Retake this exam">R</a>
                        }
                    </div>
                }
            </div>
        </div>
    }
    @foreach (OeExam item in ViewBag.ExamList)
    {
        <div class="col-md-4 text-center">
            <div class="col-md-12" style="border: 1px solid #CCC; border-radius: 10px;box-shadow: 1px 1px 15px #888888;">
                <form name="ExamSelectForm" asp-controller="@controllerName" asp-action="Index" method="get">
                    <input type="hidden" name="prn" value="@ViewBag.prn" />
                    <input type="hidden" name="reg" value="@ViewBag.reg" />
                    <div class="row">
                        <h3><strong>@item.Name</strong></h3>
                        <input type="hidden" name="Id" value="@item.Id" />
                        <hr style="margin-bottom:5px;" />
                    </div>
                    <div class="col-sm-12">
                        @*<h4>Total Question: @item.TotalQuestion</h4>
                        <h4>Marks Per Question: @item.MarksPerQuestion</h4>*@
                        <h4>Total Marks: @item.TotalMarks</h4>
                        <h4>Negative Marks: @item.NegativeMarks</h4>
                        <h4>Time: @item.TotalTimeInMin min</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6" style="text-align:right;"><h4>Version: </h4></div>
                        <div class="col-sm-6" style="padding-left:0px;">
                            <select name="version" class="form-control">
                                @if (item.IsBangla)
                                {
                                    <option value="1">Bangla</option>
                                }
                                @if (item.IsEnglish)
                                {
                                    <option value="2">English</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                        @*<a asp-controller="@controllerName" asp-action="Index" asp-route-id="@item.Id" asp-route-lan="0" class="btn btn-primary btn-outline">Start Exam</a>*@
                        <input type="submit" value="Start Exam" class="btn btn-primary btn-outline" />
                        <br /><br />
                    </div>
                </form>
            </div>            
        </div>
    }
</div>
 