@using NetCoreCMS.Modules.OnlineExam.Models


@{
    Layout = "_HomeLayout";
    //ViewData["Title"] = Model.Title;
    //ViewData["MetaDescription"] = Model.MetaDescription;
    //ViewData["MetaKeyword"] = Model.MetaKeyword;


    var controllerName = "OeQuestion";
}
 
@section Styles{
    <style>
       @Html.Raw("        ");
    </style>
}

<div class="row">
    @if (ViewBag.Student == null)
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Student Information
                </div>
                <div class="panel-body">
                    @if (ViewBag.ErrorMessage != "")
                    {
                        <div class="alert alert-danger text-center">
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }
                    <form id="studentForm" class="form-horizontal" asp-controller="@controllerName" asp-action="Index" method="get">
                        <div class="">                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">Roll Number </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="prn" placeholder="Enter your roll number" value="@ViewBag.prn" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 text-right">Registration Number </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="reg" placeholder="Enter your registration number" value="@ViewBag.reg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>

                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    }
    else
    {
        if (ViewBag.Exam != null)
        {
            @Html.Partial("_indexExam")
        }
        else
        {
            @Html.Partial("_indexExamList")
        }
    }
</div>
 
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML" id=""></script>
}
