@using NetCoreCMS.Modules.OnlineExam.Models


@{
    Layout = "_HomeLayout";
    //ViewData["Title"] = Model.Title;
    //ViewData["MetaDescription"] = Model.MetaDescription;
    //ViewData["MetaKeyword"] = Model.MetaKeyword;


    var controllerName = "OeQuestion";
}
 
<style>
    .ExamHead {
        text-align: center;
        font-size: 24px;
    }

    .serial {
        width: 10%;
        float: left;
        text-align: right;
    }

    .questionBlock {
        margin-bottom: 15px;
    }

    .question {
        width: 90%;
        float: left;
    }

    .questionText {
        margin-bottom: 5px;
    }

    .questionTable {
        width: 100%;
        border: none;
    }

    .optionSerial {
        width: 10%;
        text-align: right;
    }

    .option {
        width: 90%;
        padding-left: 10px;
    }

    .optionCheckbox {
        height: 25px;
        width: 25px;
    }

    .solveText{
        border:1px dotted #000;
        margin-bottom: 5px;        
    } 
    
    #clock {
        font-weight: bold;
    }

    @@media only screen and (max-width: 1000px) {
        .optionSerial {
            width: 15%;
            text-align: right;
        }

        .option {
            width: 85%;
        }
    }

    @@media only screen and (max-width: 600px) {
        .optionSerial {
            width: 20%;
            text-align: right;
        }

        .option {
            width: 80%;
        }
    }

    @@media only screen and (max-width: 400px) {
        .optionSerial {
            width: 25%;
            text-align: right;
        }

        .option {
            width: 75%;
        }
    }
</style>
<div class="row">
    @{
        OeStudentQuestionSet oeStudentQuestionSet = ViewBag.StudentQuestionSet;
        List<OeStudentQuestionSetDetails> oeStudentQuestionSetDetailsList = ViewBag.StudentQuestionSetDetailsList;
        int serial = 0;
        
            <input type="hidden" name="prn" value="@ViewBag.prn" />
            <input type="hidden" name="reg" value="@ViewBag.reg" />
            <input type="hidden" name="studentQuestionSetId" value="@oeStudentQuestionSetDetailsList.FirstOrDefault().StudentQuestionSet.Id" />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="ExamHead">
                        <strong>@oeStudentQuestionSet.Exam.Name</strong>
                        <div id="clock" class="pull-right">
                            <a asp-controller="@controllerName" asp-action="Index" asp-route-id="" asp-route-prn="@ViewBag.prn" asp-route-reg="@ViewBag.reg" class="btn btn-default">Back</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="overflow:auto;">
                    <div style="text-align:center; width:100%;">
                        <span>
                            <span>
                                <strong>
                                    <span>Name: </span>
                                    <span>@oeStudentQuestionSet.Student.FullName (@oeStudentQuestionSet.Student.Name)</span>
                                </strong>
                                <span> [Roll No: @oeStudentQuestionSet.Student.PrnNo]</span>
                                <br />
                                <i>
                                    <span>Exam Date: </span>
                                    <span>@oeStudentQuestionSet.CreationDate.ToString("MMM dd, yyyy (hh:mm tt)")</span>
                                </i>
                            </span>
                        </span>
                        <br />
                        <i>
                            <span>
                                <span>
                                    <span>Marks Per Question: </span>
                                    <span>@oeStudentQuestionSet.Exam.MarksPerQuestion</span>
                                    <span>, Negative Marks: </span>
                                    <span>@oeStudentQuestionSet.Exam.NegativeMarks</span>
                                </span>
                            </span>
                            <br />
                            <span>
                                <span>
                                    <strong>
                                        <span>Marks: </span>
                                        <span>@oeStudentQuestionSet.TotalMarks</span>
                                        <span>/</span>
                                        <span>@oeStudentQuestionSet.Exam.TotalMarks</span>
                                    </strong>
                                    <span>(</span>
                                    <span>Correct: @oeStudentQuestionSet.Correct</span>
                                    <span>, Incorrect: @oeStudentQuestionSet.Incorrect</span>
                                    <span>, Not Answered: @oeStudentQuestionSet.NotAnswered</span>
                                    <span>)</span>
                                </span>
                            </span>
                        </i>
                    </div>
                    <hr />
                    @foreach (var item in oeStudentQuestionSetDetailsList)
                    {
                        string studentAnswerCircle = "";
                        {
                            serial = item.SetSerial;
                        }
                        <div class="col-md-12 questionBlock">
                            <div class="serial">
                                @if (item.CorrectAnswer == item.StudentAnswer)
                                {
                                    <strong style="background-color:#00FF00">✔ @serial . </strong>
                                }
                                else if (string.IsNullOrEmpty(item.StudentAnswer))
                                {
                                    <strong>@serial . </strong>}
                                else
                                {
                                    <strong style="background-color:#FF8888">✘ @serial . </strong>
                                }
                            </div>

                            <div class="question">
                                <div class="col-md-12 questionText">
                                    @Html.Raw(item.Question.Name)
                                </div>
                                <div class="col-sm-6">
                                    <table class="questionTable">
                                        <tr>
                                            <td class="optionSerial">
                                                @if (!string.IsNullOrEmpty(item.StudentAnswer) && item.StudentAnswer.Contains("A"))
                                                {
                                                    studentAnswerCircle = "● ";
                                                }
                                                else
                                                {
                                                    studentAnswerCircle = "";
                                                }

                                                @if (!string.IsNullOrEmpty(item.CorrectAnswer) && item.CorrectAnswer.Contains("A"))
                                                {
                                                    <strong style="background-color:#00FF00">@studentAnswerCircle A) </strong>
                                                }
                                                else
                                                {
                                                    <strong>@studentAnswerCircle A) </strong>
                                                }
                                            </td>
                                            <td class="option">
                                                @if(item.OptionA == "A")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionA)</span>
                                                }
                                                else if (item.OptionA == "B")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionB)</span>
                                                }
                                                else if (item.OptionA == "C")
                                                {
                                                <span>@Html.Raw(item.Question.OptionC)</span>
                                                }
                                                else if (item.OptionA == "D")
                                                {
                                                <span>@Html.Raw(item.Question.OptionD)</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="questionTable">
                                        <tr>
                                            <td class="optionSerial">
                                                @if (!string.IsNullOrEmpty(item.StudentAnswer) && item.StudentAnswer.Contains("B"))
                                                {
                                                    studentAnswerCircle = "● ";
                                                }
                                                else
                                                {
                                                    studentAnswerCircle = "";
                                                }

                                                @if (!string.IsNullOrEmpty(item.CorrectAnswer) && item.CorrectAnswer.Contains("B"))
                                                {
                                                    <strong style="background-color:#00FF00">@studentAnswerCircle B) </strong>
                                                }
                                                else
                                                {
                                                    <strong>@studentAnswerCircle B) </strong>
                                                }
                                            </td>
                                            <td class="option">
                                                @if (item.OptionB == "A")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionA)</span>
                                                }
                                                else if (item.OptionB == "B")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionB)</span>
                                                }
                                                else if (item.OptionB == "C")
                                                {
                                                <span>@Html.Raw(item.Question.OptionC)</span>
                                                }
                                                else if (item.OptionB == "D")
                                                {
                                                <span>@Html.Raw(item.Question.OptionD)</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="questionTable">
                                        <tr>
                                            <td class="optionSerial">
                                                @if (!string.IsNullOrEmpty(item.StudentAnswer) && item.StudentAnswer.Contains("C"))
                                                {
                                                    studentAnswerCircle = "● ";
                                                }
                                                else
                                                {
                                                    studentAnswerCircle = "";
                                                }

                                                @if (!string.IsNullOrEmpty(item.CorrectAnswer) && item.CorrectAnswer.Contains("C"))
                                                {
                                                    <strong style="background-color:#00FF00">@studentAnswerCircle C) </strong>
                                                }
                                                else
                                                {
                                                    <strong>@studentAnswerCircle C) </strong>
                                                }
                                            </td>
                                            <td class="option">
                                                @if (item.OptionC == "A")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionA)</span>
                                                }
                                                else if (item.OptionC == "B")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionB)</span>
                                                }
                                                else if (item.OptionC == "C")
                                                {
                                                <span>@Html.Raw(item.Question.OptionC)</span>
                                                }
                                                else if (item.OptionC == "D")
                                                {
                                                <span>@Html.Raw(item.Question.OptionD)</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="questionTable">
                                        <tr>
                                            <td class="optionSerial">
                                                @if (!string.IsNullOrEmpty(item.StudentAnswer) && item.StudentAnswer.Contains("D"))
                                                {
                                                    studentAnswerCircle = "● ";
                                                }
                                                else
                                                {
                                                    studentAnswerCircle = "";
                                                }

                                                @if (!string.IsNullOrEmpty(item.CorrectAnswer) && item.CorrectAnswer.Contains("D"))
                                                {
                                                    <strong style="background-color:#00FF00">@studentAnswerCircle D) </strong>
                                                }
                                                else
                                                {
                                                    <strong>@studentAnswerCircle D) </strong>
                                                }
                                            </td>
                                            <td class="option">
                                                @if (item.OptionD == "A")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionA)</span>
                                                }
                                                else if (item.OptionD == "B")
                                                {
                                                    <span>@Html.Raw(item.Question.OptionB)</span>
                                                }
                                                else if (item.OptionD == "C")
                                                {
                                                <span>@Html.Raw(item.Question.OptionC)</span>
                                                }
                                                else if (item.OptionD == "D")
                                                {
                                                <span>@Html.Raw(item.Question.OptionD)</span>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                @if (!string.IsNullOrEmpty(item.Question.Solve))
                                {
                                    <div class="col-md-12 solveText">
                                        @Html.Raw(item.Question.Solve)
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    <div style="text-align:center;">
                        <a asp-controller="@controllerName" asp-action="Index" asp-route-id="" asp-route-prn="@ViewBag.prn" asp-route-reg="@ViewBag.reg" class="btn btn-primary btn-lg">Back</a>
                    </div>

                </div>
            </div>

    }
</div>
 
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML" id=""></script>
}
