@{
    BodyWidth = 12;
    CurrentLayout = ThemeResources.Layouts.SiteLayout.Name;
    //ViewBag.CurrentLayout = "SiteLayout";
    var currentLanguage = ThemeHelper.GetCurrentLanguage();
    CurrentLanguage = currentLanguage;
    NccTranslator<ThemeResources> _TT = new NccTranslator<ThemeResources>(currentLanguage);
}

<!DOCTYPE html>
<html>
    
    <head>        
        <!-- You must call every View Renderer method inside Html.Raw()-->
        @Html.Raw(NccRenderHead()) 
        @RenderSection(ThemeHelper.Sections.StyleHeader, required: false)
        @RenderSection(ThemeHelper.Sections.ScriptHeader, required: false)        
        @RenderSection("Styles", required: false)
        @Html.Raw(JavaScriptSnippet.FullScript)
    </head>

    <body id="body">   
        <!-- Loading -->
        @Html.Raw(NccRenderLoadingMaskContainer()) 
        <!-- Header -->
        @Html.Raw(NccRenderHeader())

        <!-- Navbar -->
        @Html.Raw(NccRenderNavigation())    
        <!-- Zone TOP End-->

        <!--  Main Body Start -->
        <div class="container mainBody">   
            <!-- Left Column start -->
            @Html.Raw(NccRenderLeftColumn())
            <!-- Left Column end -->

            <!-- Right Column start -->
            @Html.Raw(NccRenderRightColumn())
            <!-- Right Column end -->

            <!-- Main content Start -->
            <div class="col-md-@BodyWidth">
                <!-- Featured -->
                @Html.Raw(NccRenderFeaturedSection())
                <!-- Container for showing global messages. -->
                <div class="row">
                    @Html.Raw(NccRenderGlobalMessageContainer())
                </div>
                @RenderBody()
            </div>
            <!-- Main content End -->
        </div>
        <!--  Main Body End -->

        <!--  Footer Start -->
        @Html.Raw(NccRenderFooter())
        <!--  Footer End -->

        <script type="text/javascript">
            $(document).ready(function () {
                var didScroll = true;

                $(window).scroll(function () {
                    didScroll = true;
                });
                setInterval(function () {
                    if (didScroll) {
                        didScroll = false;
                        var scroll = $(window).scrollTop();
                        //console.log(scroll);
                        //Same that all the if else statements
                        switch (true) {
                            case (scroll >= 100):
                                $("#mainNavbar").addClass("navbar-fixed-top");
                                $("#navbarWebsiteName").removeClass("navbar-brand-with-top-menu");
                                break;
                            case (scroll <= 50):
                                $("#mainNavbar").removeClass("navbar-fixed-top");
                                $("#navbarWebsiteName").addClass("navbar-brand-with-top-menu");
                                break;
                            default:
                                break;
                        }
                    }
                }, 50);

                $('.ncc-main-menu').find('a').each(function () {
                    var pathname = decodeURI(window.location.pathname);
                    if (pathname == '/CmsHome')
                        pathname = "/";
                    if ($(this).attr('href') == pathname) {
                        $(this).parents("li").addClass('active');
                    }
                    /*console.log($(this).attr('href'));
                    console.log(pathname);*/
                });

            });
        </script>
        @RenderSection(ThemeHelper.Sections.StyleFooter, required: false)
        @RenderSection(ThemeHelper.Sections.ScriptFooter, required: false)
        @RenderSection("Scripts", required: false)
    </body>
</html>

