<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="@MetaDescription" />
<meta name="keywords" content="@MetaKeyword" />
<meta name="author" content="@MetaAuthor" />
<meta name="application-name" content="@MetaApplicationName" />

@if (Title != null)
{    
    <title>@_T[Title] - @GetWebSiteTitle()</title>
}
else
{
    <title>@GetWebSiteTitle()</title>
}


