@{
    int bodyClassWidth = 12;
    bool hasLeftColumn = false;
    bool hasRightColumn = false;
    //var WebSite = GlobalConfig.WebSite;
    ViewBag.WebSite = GlobalConfig.WebSite;
    ViewBag.CurrentLayout = "NoTopLayout";

    /*Special Calculation for left and right column show hide*/
    var menusLeft = GlobalConfig.Menus.Where(x => x.Position == "LeftColumn").ToList();
    var zoneLeftWidgets = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "LeftSidebar" && x.LayoutName == ViewBag.CurrentLayout).ToList();
    if ((menusLeft != null && menusLeft.Count > 0) || (zoneLeftWidgets != null && zoneLeftWidgets.Count > 0))
    {
        hasLeftColumn = true;
        bodyClassWidth = bodyClassWidth - 2;
    }

    var menusRight = GlobalConfig.Menus.Where(x => x.Position == "RightColumn").ToList();
    var zoneRightWidgets = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "RightSidebar" && x.LayoutName == ViewBag.CurrentLayout).ToList();
    if ((menusRight != null && menusRight.Count > 0) || (zoneRightWidgets != null && zoneRightWidgets.Count > 0))
    {
        hasRightColumn = true;
        bodyClassWidth = bodyClassWidth - 2;
    }
    /*Special Calculation for left and right column show hide*/
}

<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("Parts/_Head")
        @Html.Raw(JavaScriptSnippet.FullScript)
        @RenderSection("Styles", required: false)
    </head>
    <body id="body">
        <!-- Zone TOP Start-->
        <!-- Navbar -->
        <nav id="mainNavbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a asp-area="" asp-controller="CmsHome" asp-action="Index" class="navbar-brand">@WebSite.Name</a>*@
                    <div class="navbar-brand">@ViewBag.WebSite.Name</div>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Raw(MenuHelper.PrepareMenuHtml("Navigation"))
                    @await Html.PartialAsync("_SiteLoginPartial")
                </div>
            </div>
        </nav>  
        
        <div style="margin-top:70px;"></div>        
        <!-- Zone TOP End-->

        <!-- Full Width Slider Start -->
        @Html.Partial("Parts/_FullWidthSlider")
        <!-- Full Width Slider End -->

        <!--  Main Body Start -->
        <div class="container mainBody">   
            <!-- Left Column start -->
            @if(hasLeftColumn)
            {
                @Html.Partial("Parts/_LeftColumn");
            }
            <!-- Left Column end -->
            <!-- Right Column start -->
            @if(hasRightColumn)
            {
                @Html.Partial("Parts/_RightColumn");
            }
            <!-- Right Column end -->

            <!-- Main content Start -->
            <div class="col-md-@bodyClassWidth">
                <!-- Featured Start -->
                @Html.Partial("Parts/_Featured")
                <!-- Featured End -->

                @RenderBody()
            </div>
            <!-- Main content End -->

        </div>
        <!--  Main Body End -->
        
        @Html.Partial("Parts/_Footer")
        @RenderSection("Scripts", required: false)
    </body>
</html>

