@using NetCoreCMS.Modules.Admin.Models.ViewModels
@model UserViewModel

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "New Users";
    ViewData["PageSubtitle"] = "User";
    var chk = "";
}

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" asp-controller="Users" asp-action="CreateEditPost" method="post">

            <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
            <input type="hidden" name="Id" value="@Model.Id" />
            @if (Model.Id == 0)
            {
            <div class="form-group">
                <div class="col-sm-2 text-right"><label for="UserName">User Name: </label></div>
                <div class="col-sm-6"><input type="text" name="UserName" value="@Model.UserName" class="form-control" /></div>
                
            </div>
            }
            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Full Name: </label></div>
                <div class="col-sm-6"><input type="text" name="FullName" value="@Model.FullName"  class="form-control"/></div>
            </div>
            @if (Model.Id == 0)
            {
            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Password: </label></div>
                <div class="col-sm-6"><input type="password" name="Password" value="@Model.Password"  class="form-control"/></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Confirm Password: </label></div>
                <div class="col-sm-6"><input type="password" name="ConfirmPassword" value="@Model.ConfirmPassword"  class="form-control"/></div>
            </div>
            }
            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Email: </label></div>
                <div class="col-sm-6"><input type="email" name="Email" value="@Model.Email"  class="form-control"/></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Mobile: </label></div>
                <div class="col-sm-6"><input type="text" name="Mobile" value="@Model.Mobile"  class="form-control"/></div>
            </div>

            @if (Model.Id == 0)
            {
            <div class="form-group">
                <div class="col-sm-2  text-right"><label>Role: </label></div>
                <div class="col-sm-6">
                    <select asp-for="Role" asp-items="@UserViewModel.GetRolesDropdown()"  class="form-control">
                        <option>Select Role</option>
                    </select>
                </div>
            </div>
            }

            <div class="form-group">
                <div class="col-sm-2 text-right"><label>Send Email: </label></div>
                 
                @if (Model.SendEmailNotification == true)
                {
                    chk = "checked";
                }
                <div class="col-sm-6">
                    <input type="checkbox" name="SendEmail" @chk />
                </div>
            </div>
            <div class="col-sm-2 text-right"><input class="btn btn-primary" type="submit" value="Save" /></div>
        </form>
    </div>    
</div>
     