@using NetCoreCMS.MatGallery.Models
@using System.Collections

@model List<NccUserModule>

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Module Manage";
    ViewData["PageSubtitle"] = "Manage modules";
}
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right"><a asp-controller="MatgModule" asp-action="Upload" class="btn btn-outline btn-success btn-xs">Upload</a></div>
            </div>
            <div class="panel-body">
                <table id="pageListDt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">ModuleId</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Version</th>
                            <th class="text-center">Ncc Version</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Creation Date</th>
                            <th class="text-center">Last Update</th>
                            <th class="text-center">Total Update</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">CreatedBy</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ModuleId</td>
                                <td>@item.ModuleName</td>
                                <td>@item.ModuleTitle</td>
                                <td>@item.Version</td>
                                <td>@item.NetCoreCMSVersion</td>
                                <td>@item.Category</td>
                                <td>@item.CreationDate</td>
                                <td>@item.ModificationDate</td>
                                <td>@item.VersionNumber</td>
                                <td>@item.Author</td>
                                <td>@item.CreateBy</td>
                                <td>@item.Status</td>
                                <td>
                                    @if (item.Status == -2) {
                                        <a asp-controller="MatgModule" asp-action="StatusUpdate" asp-route-id="@item.Id">Active</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="MatgModule" asp-action="StatusUpdate" asp-route-id="@item.Id">Inactive</a>
                                    }
                                    | <a asp-controller="MatgModule" asp-action="Log" asp-route-id="@item.Id">Log</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{
    <link href="~/lib/DataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap.min.js"></script>
}
