@using NetCoreCMS.MatGallery.Models
@using System.Collections

@model List<NccUserModule>

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Module Manage";
    ViewData["PageSubtitle"] = "Manage modules";
}
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right"><a asp-controller="MatGallery" asp-action="Upload" class="btn btn-outline btn-success btn-xs">Upload</a></div>
            </div>
            <div class="panel-body">
                <table id="pageListDt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ModuleId</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Version</th>
                            <th>NetCoreCms Version</th>
                            <th>Category</th>
                            <th>Creation Date</th>
                            <th>Last Update</th>
                            <th>Total Update</th>
                            <th>Author</th>
                            <th>CreatedBy</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ModuleId</td>
                                <td>@item.ModuleName</td>
                                <td>@item.ModuleTitle</td>
                                <td>@item.Version</td>
                                <td>@item.NetCoreCMSVersion</td>
                                <td>@item.Category</td>
                                <td>@item.CreationDate</td>
                                <td>@item.ModificationDate</td>
                                <td>@item.VersionNumber</td>
                                <td>@item.Author</td>
                                <td>@item.CreateBy</td>
                                <td>@item.Status</td>
                                <td>
                                    <a asp-controller="MatGallery" asp-action="CreateEdit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-controller="MatGallery" asp-action="Log" asp-route-id="@item.Id">Log</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{
    <link href="~/lib/DataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap.min.js"></script>
}
