@using NetCoreCMS.Modules.News.Models
@using System.Collections

@model NeNews

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "News Create";
    ViewData["PageSubtitle"] = "Create a new item.";
    if (Model.Id > 0)
    {
        ViewData["PageTitle"] = "News Update";
        ViewData["PageSubtitle"] = "Update an existing item.";
    }
    var controllerName = "NeNews";
}
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
            </div>
            <div class="panel-body">

                <form id="createEditForm" class="form-horizontal" asp-controller="@controllerName" asp-action="CreateEdit" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="Status" value="@Model.Status" />
                    <div class="col-md-12 pull-left">

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-2 text-right">Title </label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 text-right">Content </label>
                                <div class="col-md-10">
                                    <textarea class="form-control" asp-for="Content" placeholder="" value="@Model.Content">@Model.Content</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 text-right">Excerpt </label>
                                <div class="col-md-10">
                                    <textarea class="form-control" asp-for="Excerpt" placeholder="" value="@Model.Excerpt">@Model.Excerpt</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Information
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 text-right">Date Range? </label>
                                        <div class="col-md-1">
                                            <input type="checkbox" asp-for="HasDateRange" @{Model.HasDateRange == true ? "checked" : "";} />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 text-right">Publish Date </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" asp-for="PublishDate" placeholder="" value="@Model.PublishDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 text-right">Expire Date </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" asp-for="ExpireDate" placeholder="" value="@Model.ExpireDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 text-right">Order </label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" asp-for="Order" placeholder="" value="@Model.Order" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 text-right">Category </label>
                                        <div class="col-md-9">
                                            @foreach (var item in ViewBag.CategoryList)
                                            {
                                                if (Model.CategoryList != null && Model.CategoryList.Count() > 0 && Model.CategoryList.Where(x => x.NeCategoryId == item.Id).Count() > 0)
                                                {
                                                    <input type="checkbox" name="LsCategory[]" value="@item.Id" checked /> @item.Name<br />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="LsCategory[]" value="@item.Id" /> @item.Name<br />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a asp-controller="@controllerName" asp-action="Manage" class="btn btn-default">Back</a>
                                    <input type="submit" class="btn btn-primary" name="Save" value="Save" />
                                    @*<input type="submit" class="btn btn-default" name="Save" value="Save And Edit" />*@
                                </div>                                
                            </div>                            
                        </div>

                    </div>


                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{
<script>
        KEDITOR_BASEPATH = "@Url.Content("~/lib/ckeditor/")";
</script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script>
        $(document).ready(function () {

            CKEDITOR.replace('Content', {
                filebrowserBrowseUrl: '/media/files',
                filebrowserUploadUrl: '/media/files',
                filebrowserImageBrowseUrl: '/media/Images',
                filebrowserImageUploadUrl: '/media/Images',
                //filebrowserWindowWidth: 800,
                //filebrowserWindowHeight: 500,
                toolbar: [
                    //{ name: 'document', items: ['Source', '-', /*'Save', 'NewPage', 'DocProps', 'Preview', 'Print', '-', 'Templates'*/] },
                    { name: 'clipboard', items: ['Cut', 'Copy', 'Paste'] },
                    { name: 'clipboard1', items: ['PasteText', 'PasteFromWord'] },
                    { name: 'clipboard2', items: ['Undo', 'Redo'] },
                    //{ name: 'editing', items: ['Find', 'Replace', 'SelectAll'] },
                    //{ name: 'editing1', items: ['SpellChecker', 'Scayt'] },
                    { name: 'styles', items: ['Styles'] },
                    { name: 'styles1', items: ['Format'] },
                    { name: 'styles2', items: ['Font'] },
                    { name: 'styles3', items: ['FontSize'] },
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
                    //{ name: 'basicstyles1', items: ['Strike', 'Subscript', 'Superscript'] },
                    //{ name: 'basicstyles2', items: ['-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                    { name: 'paragraph1', items: ['Outdent', 'Indent'] },
                    { name: 'paragraph2', items: ['Blockquote', 'CreateDiv'] },
                    { name: 'paragraph3', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                    //{ name: 'paragraph4', items: ['-', 'BidiLtr', 'BidiRtl'] },
                    { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                    { name: 'insert', items: ['Image', /*'Flash',*/ 'Table'] },
                    //'/',
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    //{ name: 'insert1', items: ['HorizontalRule', 'Smiley'] },
                    //{ name: 'insert2', items: ['SpecialChar', 'PageBreak'] },
                    { name: 'tools', items: ['Maximize', 'ShowBlocks'] }
                ],
            });

            $("#Title").change(function () {
                $("#Slug").val(NccUtil.GetSafeSlug($(this).val()));
            });

            $("#publish").click(function () {
                var element = document.getElementById('PageStatus');
                element.value = "2";
                console.log($("#Slug").val());
                if ($("#Slug").val() == "") {
                    document.getElementById("Slug").value = NccUtil.GetSafeSlug($("#Title").val());
                    console.log($("#Slug").val());
                }
                document.getElementById("SubmitType").value = "publish";
                //$("#SubmitType").value = "publish";

                $('#PageContent').html(CKEDITOR.instances["PageContent"].getData());
                document.getElementById("pageCreateEditForm").submit();
            });

            $("#save").click(function () {
                if ($("#Slug").val() == "") {
                    $("#Slug").val(NccUtil.GetSafeSlug($(this).val()));
                }
                $("#SubmitType").val("Save");

                $('#PageContent').html(CKEDITOR.instances["PageContent"].getData());
                document.getElementById("pageCreateEditForm").submit();
            });
        });
</script>
}
