@{
    string currentLanguage = LanguageDetector.GetCurrentLanguage();
    NccTranslator<ThemeTranslation> _TT = new NccTranslator<ThemeTranslation>(currentLanguage);
}
<!-- Loading -->
<div id="loadingMask" class="loader loader-double"></div>

<!-- Header -->
<div class="container-fluid topHeader">
    <div class="container">
        <div class="topLogo">
            @if (string.IsNullOrEmpty(ThemeHelper.GetWebSiteLogoUrl()))
            {
                <a href="/"><h1>@ThemeHelper.GetWebSiteName()</h1></a>
                <h4>@ThemeHelper.GetWebSiteTagline()</h4>
            }
            else
            {
                <a href="/">
                    <img src="@ThemeHelper.GetWebSiteLogoUrl()" alt="@ThemeHelper.GetWebSiteName()" title="@ThemeHelper.GetWebSiteTagline()" width="200px" />
                </a>
            }
        </div>
        <div id="topMenu" class="topMenu pull-right">
            @if (GlobalConfig.WebSite.IsMultiLangual == true)
            {
                @await Html.PartialAsync("_SelectLanguagePartial")
            }
            @{
                var menus = GlobalConfig.Menus.Where(x => x.Position == "Top" && (string.IsNullOrEmpty(x.MenuLanguage) || x.MenuLanguage == currentLanguage));
                foreach (var item in menus)
                {
                    foreach (var menuItem in item.MenuItems)
                    {
                        <a href="@NccUrlHelper.AddLanguageToUrl(currentLanguage, menuItem.Url)">@menuItem.Name</a><span> | </span>
                    }
                }
                if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Index">@_TT["Admin"]</a><span> | </span>
                    <a asp-area="" asp-controller="ManageAccount" asp-action="Index" title="Manage">@_TT["Hello"] @UserManager.GetUserName(User)!</a><span> | </span>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">@_TT["Log out"]</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Register">@_TT["Register"]</a><span> | </span>
                    <a asp-area="" asp-controller="Account" asp-action="Login">@_TT["Log in"]</a>
                }
            }
        </div>

        <div class="topWidgetZone">
            @{
                var zoneTopWidgets = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "TopBar" && x.LayoutName == ViewBag.CurrentLayout).ToList();
                if (zoneTopWidgets != null && zoneTopWidgets.Count > 0)
                {
                    <div style="width:100%;">
                        @foreach (var item in zoneTopWidgets)
                        {
                            var widgets = GlobalConfig.Widgets.Where(x => x.WidgetId == item.WidgetId).ToList();
                            foreach (var widget in widgets)
                            {
                                widget.Init(item.Id);
                                if (string.IsNullOrEmpty(widget.Language) || string.IsNullOrEmpty(currentLanguage) || currentLanguage == widget.Language)
                                { 
                                    if (widget.DisplayTitle != "" || widget.Footer != "")
                                    {
                                        <div class='panel panel-default'>
                                            @if (widget.DisplayTitle != "")
                                            {
                                                <div class='panel-heading'>
                                                    @Html.Raw(widget.DisplayTitle)
                                                </div>
                                            }
                                            <div class='panel-body'>
                                                @Html.Raw(widget.RenderBody())
                                            </div>
                                            @if (widget.Footer != "")
                                            {
                                                <div class='panel-footer'>
                                                    @Html.Raw(widget.Footer)
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            @Html.Raw(widget.RenderBody())
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

