@{
    var menusLeft = ThemeHelper.GetMenus("LeftColumn", CurrentLanguage);
    var zoneLeftWidgets = ThemeHelper.GetWebsiteWidgets(CurrentLayout, "LeftSidebar");

    if (menusLeft.Count > 0 || zoneLeftWidgets.Count > 0)
    {
        HasLeftColumn = true;
        BodyWidth = BodyWidth - 2;
    }
}
@if (HasLeftColumn)
{
    <div class="col-sm-2 pull-left">
        <!-- Left Menu Start -->
        @if (menusLeft != null && menusLeft.Count > 0)
        {
            <div class="col-md-12">
                @foreach (var item in menusLeft)
                {
                    <ul class="nav nav-pills nav-stacked">
                        @foreach (var menuItem in item.MenuItems)
                        {
                            <li><a href="@menuItem.Url"> @menuItem.Name</a></li>
                            foreach (var mi2 in menuItem.Childrens)
                            {
                                <li><a href="@mi2.Url"> <span>&nbsp;&nbsp;--</span>@mi2.Name</a></li>
                                foreach (var mi3 in mi2.Childrens)
                                {
                                    <li><a href="@mi3.Url"> <span>&nbsp;&nbsp;&nbsp;&nbsp;--</span>@mi3.Name</a></li>
                                    foreach (var mi4 in mi3.Childrens)
                                    {
                                        <li><a href="@mi4.Url"> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--</span>@mi4.Name</a></li>
                                    }
                                }
                            }
                        }
                    </ul>
                }
            </div>
            <div class="clearfix"></div>
        }
        <!-- Left Menu End -->
        <!-- Left Sidebar Start -->
        @if (zoneLeftWidgets != null && zoneLeftWidgets.Count > 0)
        {
            <div class="row">
                @foreach (var item in zoneLeftWidgets)
                {
                    var widgets = ThemeHelper.GetWidgets(item.WidgetId);
                    foreach (var widget in widgets)
                    {
                        widget.Init(item.Id);
                        if (string.IsNullOrEmpty(widget.Language) || string.IsNullOrEmpty(CurrentLanguage) || CurrentLanguage == widget.Language)
                        {
                            if (widget.DisplayTitle != "" || widget.Footer != "")
                            {
                                <div class='panel panel-default'>
                                    @if (widget.DisplayTitle != "")
                                    {
                                        <div class='panel-heading'>
                                            @_T[widget.DisplayTitle]
                                        </div>
                                    }
                                    <div class='panel-body'>
                                        @Html.Raw(widget.RenderBody())
                                    </div>
                                    @if (widget.Footer != "")
                                    {
                                        <div class='panel-footer'>
                                            @_T[widget.Footer]
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Html.Raw(widget.RenderBody())
                                </div>
                            }
                        }
                    }
                }
            </div>
        }
        <!-- Left Sidebar End -->
    </div>
}
