@using NetCoreCMS.Framework.Utility
@using NetCoreCMS.Framework.Modules

@{
    Layout = Constants.SiteLayoutName;
}

<script>

    var dragSrcEl = null;
    function allowDrop(ev) {
        ev.preventDefault();

    }

    function drag(ev) {
        ev.dataTransfer.setData("widgetId", ev.target.id);
    }

    function drop(ev) {

        ev.preventDefault();
        var targetDiv = ev.target;
        var divId = ev.dataTransfer.getData("widgetId");
        targetDiv.appendChild(document.getElementById(divId));
        var moduleId = $("#" + divId).attr("data-module-id");
        var zone = $(targetDiv).attr("data-layout-zone");
        var layout = $(targetDiv).attr("data-layout-name");
        var theme = $(targetDiv).attr("data-theme-id");

        $.ajax({
            method: 'POST',
            url: '/CmsWidget/SaveZoneWidget',
            data: { module: moduleId, theme:theme, layout: layout, zone: zone, widget: divId },
            success: function (rsp) {
                console.log(rsp);
                NccGlobalAlert.ShowSuccess(rsp.message);
            },
            error: function (rsp) {

            }
        });
    }

    function dropBack(ev) {
        ev.preventDefault();
        var targetDiv = ev.target;
        var divId = ev.dataTransfer.getData("widgetId");
        targetDiv.appendChild(document.getElementById(divId));        
    }
</script>

<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Widgets
                </div>
                <div class="panel-body">
                    @foreach (IModule item in ViewBag.Modules)
                    {
                        if (item.Widgets.Count > 0)
                        {
                            <div class="col-lg-6">
                                <div id="@item.ModuleId" class="panel panel-primary">
                                    <div class="panel-heading">@item.ModuleTitle</div>
                                    <div class="panel-body"  ondrop="dropBack(event)" ondragover="allowDrop(event)">
                                        @foreach (IWidget widget in item.Widgets)
                                        {
                                            <div id="@widget.WidgetId" data-module-id="@item.ModuleId" class="panel panel-default" draggable="true" ondragstart="drag(event)" >
                                                <div class="panel-heading">
                                                    <i class="glyphicon glyphicon-move margin-right-10"></i>&nbsp;@widget.Title
                                                </div>
                                                <div class="panel-body">
                                                     @widget.Description
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @{
                            var active = "active";
                            var ariaExpanded = "aria-expanded=\"true\"";
                        }
                        @foreach (var layout in GlobalConfig.ActiveTheme.Layouts)
                        {
                            var tabName = "#tab_" + layout.Name.Replace(' ', '_');

                            <li class="@active">
                                <a href="@tabName" data-toggle="tab" @ariaExpanded  > @layout.Name </a>
                            </li> 

                            active = "";
                            ariaExpanded = "";
                        }
                    </ul>
                    <div class="tab-content">
                        <br/>
                        @{
                            active = "active";
                        }
                        @foreach (var layout in GlobalConfig.ActiveTheme.Layouts)
                        {
                            var tabName = "tab_" + layout.Name.Replace(' ','_');
                                                      
                            <div class="tab-pane @active" id="@tabName">
                                <div>Widget Sections for layout <strong>@layout.Name</strong> </div>
                                @foreach (var zone in layout.LayoutZones)
                                {   
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            @zone
                                        </div>
                                        <div data-theme-id="@GlobalConfig.ActiveTheme.ThemeId"  data-layout-name="@layout.Name" data-layout-zone="@zone" class="panel-body" ondrop="drop(event)" ondragover="allowDrop(event)">
                                            Drop widget here
                                        </div>
                                    </div>
                                }
                            </div>
                                
                            active = ""; 
                        } 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>