@{
    /*Special Calculation for left and right column show hide*/
    int bodyClassWidth = 12;
    bool hasLeftColumn = false;
    bool hasRightColumn = false;

    var menusLeft = GlobalConfig.Menus.Where(x => x.Position == "LeftColumn").ToList();
    var zoneLeftWidgets = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "LeftSidebar" && x.LayoutName == ViewBag.CurrentLayout).ToList();
    if ((menusLeft != null && menusLeft.Count > 0) || (zoneLeftWidgets != null && zoneLeftWidgets.Count > 0))
    {
        hasLeftColumn = true;
        bodyClassWidth = bodyClassWidth - 2;
    }

    var menusRight = GlobalConfig.Menus.Where(x => x.Position == "RightColumn").ToList();
    var zoneRightWidgets = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "RightSidebar" && x.LayoutName == ViewBag.CurrentLayout).ToList();
    if ((menusRight != null && menusRight.Count > 0) || (zoneRightWidgets != null && zoneRightWidgets.Count > 0))
    {
        hasRightColumn = true;
        bodyClassWidth = bodyClassWidth - 2;
    }
    this.ViewContext.HttpContext.Items["bodyClassWidth"] = bodyClassWidth;
    this.ViewContext.HttpContext.Items["hasLeftColumn"] = hasLeftColumn;
    this.ViewContext.HttpContext.Items["hasRightColumn"] = hasRightColumn;
    /*Special Calculation for left and right column show hide*/

    /* Getting Current Language */
    var writer = new System.IO.StringWriter();
    Component.InvokeAsync("Language").Result.WriteTo(writer, HtmlEncoder);
    string currentLanguage = writer.GetStringBuilder().ToString();
    this.ViewContext.HttpContext.Items["currentLanguage"] = currentLanguage;

    NccTranslator<ThemeTranslation> _TT = new NccTranslator<ThemeTranslation>(currentLanguage);
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="@ViewData["MetaDescription"]">
<meta name="keywords" content="@ViewData["MetaKeyword"]">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
@if (ViewData["Title"] != null)
{
    <title>@_TT[ViewData["Title"].ToString()] - @ThemeHelper.GetWebSiteTitle(currentLanguage)</title>
}
else
{
    <title>@ThemeHelper.GetWebSiteTitle(currentLanguage)</title>
}


@Html.Raw(ThemeHelper.GetJquery())
@Html.Raw(ThemeHelper.GetBootstrap())

<link href="~/css/ncc-common.css" rel="stylesheet" />
<script src="~/js/ncc-common.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/Themes/UnmeshBd/css/site.css" />
<link href="~/lib/css-loader/dist/css-loader.css" rel="stylesheet" />
