@using NetCoreCMS.Framework.Utility
@model NccPost

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Post Create";
    ViewData["PageSubtitle"] = "Create a new Post";

    if (Model.Id > 0)
    {
        ViewData["PageTitle"] = "Post Edit";
        ViewData["PageSubtitle"] = "Update information of a Post";
    }
}

<div class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right">
                    @if (Model.Id > 0)
                    {
                        <a asp-controller="Blog" asp-action="CreateEdit" asp-route-id="" class="btn btn-outline btn-success btn-xs">New Page</a>
                    }
                    <a asp-controller="Blog" asp-action="Manage" class="btn btn-outline btn-primary btn-xs">Manage Page</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="postCreateEditForm" class="form-horizontal" asp-controller="Blog" asp-action="CreateEdit" method="post">

                        <div class="col-sm-8 pull-left">
                            <div class="col-md-12">
                                <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Post Title: </span>
                                    <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" placeholder="Enter Post Title">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">@ViewBag.DomainName</span>
                                    <input type="text" class="form-control" id="Slug" name="Slug" asp-for="Slug" placeholder="Slug">
                                    <span asp-validation-for="Slug" class="text-danger"></span>
                                </div>
                            </div>

                            <div>
                                <label>Post Content</label>
                                <textarea id="Content" name="Content" class="form-control" data-val="false">@Model.Content</textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>

                            <div>
                                <label>Meta Description</label>
                                <textarea class="form-control" asp-for="MetaDescription"></textarea>
                            </div>

                            <div>
                                <label>Meta Keyword</label>
                                <textarea class="form-control" asp-for="MetaKeyword"></textarea>
                            </div>

                            <div>
                                <label>Is Featured</label>
                                <input type="checkbox" class="form-control" asp-for="IsFeatured"></input>
                            </div>

                            <div>
                                <label>Is Stiky</label>
                                <input type="checkbox" class="form-control" asp-for="IsStiky"></input>
                            </div>

                            <div>
                                <label>Allow Comment</label>
                                <input type="checkbox" class="form-control" asp-for="AllowComment"></input>
                            </div>

                            <div>
                                <label>Thnmbnail Image</label>
                                <input type="text" class="form-control" asp-for="ThumImage"></input>
                            </div>

                            <div>
                                <label>Related Post</label>
                                <input type="text" class="form-control" asp-for="RelatedPosts"></input>
                            </div>

                        </div>
                        <div class="col-sm-4 pull-right">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <div class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                                Publish
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div>
                                                <label>Status</label>
                                                <select class="form-control" asp-for="PostStatus" id="PostStatus">
                                                    @if ((int)Model.PostStatus == 0)
                                                    {
                                                        <option value="Draft" selected>Draft</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Draft">Draft</option>
                                                    }
                                                    @if ((int)Model.PostStatus == 1)
                                                    {
                                                        <option value="Reviewed" selected>Reviewed</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Reviewed">Reviewed</option>
                                                    }
                                                    @if ((int)Model.PostStatus == 2)
                                                    {
                                                        <option value="Published" selected>Published</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Published">Published</option>
                                                    }
                                                    @if ((int)Model.PostStatus == 3)
                                                    {
                                                        <option value="Unpublished" selected>Unpublished</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Unpublished">Unpublished</option>
                                                    }
                                                    @if ((int)Model.PostStatus == 4)
                                                    {
                                                        <option value="Archived" selected>Archived</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Archived">Archived</option>
                                                    }
                                                </select>
                                            </div>
                                            <div>
                                                <label>Post Type</label>
                                                <select class="form-control" asp-for="PostType">
                                                    @if ((int)Model.PostType == 0)
                                                    {
                                                        <option value="Public" selected>Public</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Public">Public</option>
                                                    }
                                                    @if ((int)Model.PostType == 1)
                                                    {
                                                        <option value="Private" selected>Private</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Private">Private</option>
                                                    }
                                                    @if ((int)Model.PostType == 2)
                                                    {
                                                        <option value="PasswordProtected" selected>PasswordProtected</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="PasswordProtected">PasswordProtected</option>
                                                    }
                                                </select>
                                            </div>
                                            <div>
                                                <label>Publish Date</label>
                                                <input type="text" class="form-control" asp-for="PublishDate" value="@Model.PublishDate.ToString("yyyy-MM-dd hh:mm tt")" />
                                            </div>
                                            <div>
                                                <label>Layout</label>
                                                <select class="form-control" asp-for="Layout">
                                                    @foreach (var themeLayout in ViewBag.Layouts)
                                                    {
                                                        if (Model.Layout == themeLayout.Name)
                                                        {
                                                            <option value="@themeLayout.Name" selected>@themeLayout.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@themeLayout.Name">@themeLayout.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class="panel-footer">
                                            <input type="hidden" name="SubmitType" id="SubmitType" value="Save" />
                                            <div class="pull-left">
                                                <button id="save" class="btn btn-sm btn-primary" type="button">Save</button>
                                            </div>
                                            <div class="pull-right">
                                                <button id="publish" class="btn btn-sm btn-success" type="button">Publish</button>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <div class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                <i class="more-less glyphicon glyphicon-chevron-down"></i>
                                                Categories
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse " role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div>
                                                <label>Parent Page:</label>
                                                <select class="form-control" name="ParentId">
                                                    <option value="0">Select Category</option>
                                                    
                                                </select>
                                            </div>
                                             
                                            <div>
                                                <label>Tags</label>
                                                <input type="tel" class="form-control" asp-for="Tags" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
@section Scripts{
    <script>
        KEDITOR_BASEPATH = "@Url.Content("~/lib/ckeditor/")";
    </script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {

            CKEDITOR.replace('Content', {
                toolbar: [
                    { name: 'document', items: ['Source', '-', /*'Save', 'NewPage', 'DocProps', 'Preview', 'Print', '-', 'Templates'*/] },
                    { name: 'clipboard', items: ['Cut', 'Copy', 'Paste'] },
                    { name: 'clipboard1', items: ['PasteText', 'PasteFromWord'] },
                    { name: 'clipboard2', items: ['Undo', 'Redo'] },
                    { name: 'editing', items: ['Find', 'Replace', 'SelectAll'] },
                    { name: 'editing1', items: ['SpellChecker', 'Scayt'] },
                    { name: 'styles', items: ['Styles'] },
                    { name: 'styles1', items: ['Format'] },
                    { name: 'styles2', items: ['Font'] },
                    { name: 'styles3', items: ['FontSize'] },
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
                    { name: 'basicstyles1', items: ['Strike', 'Subscript', 'Superscript'] },
                    //{ name: 'basicstyles2', items: ['-', 'RemoveFormat'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                    { name: 'paragraph1', items: ['Outdent', 'Indent'] },
                    { name: 'paragraph2', items: ['Blockquote', 'CreateDiv'] },
                    { name: 'paragraph3', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                    //{ name: 'paragraph4', items: ['-', 'BidiLtr', 'BidiRtl'] },
                    { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                    { name: 'insert', items: ['Image', /*'Flash',*/ 'Table'] },
                    //'/',
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    { name: 'insert1', items: ['HorizontalRule', 'Smiley'] },
                    { name: 'insert2', items: ['SpecialChar', 'PageBreak'] },
                    { name: 'tools', items: [/*'Maximize', */'ShowBlocks'] }
                ],
            });

            $("#Title").change(function () {
                $("#Slug").val(NccUtil.GetSafeSlug($(this).val()));
            });

            $("#publish").click(function () {
                var element = document.getElementById('PostStatus');
                element.value = "Published";
                console.log($("#Slug").val());
                if ($("#Slug").val() == "") {
                    document.getElementById("Slug").value = NccUtil.GetSafeSlug($("#Title").val());
                    console.log($("#Slug").val());
                }
                document.getElementById("SubmitType").value = "publish";
                //$("#SubmitType").value = "publish";

                $('#PageContent').html(CKEDITOR.instances["Content"].getData());
                document.getElementById("postCreateEditForm").submit();
            });

            $("#save").click(function () {
                if ($("#Slug").val() == "") {
                    $("#Slug").val(NccUtil.GetSafeSlug($(this).val()));
                }
                $("#SubmitType").val("Save");

                $('#Content').html(CKEDITOR.instances["Content"].getData());
                document.getElementById("postCreateEditForm").submit();
            });
        });
    </script>
}
