@using NetCoreCMS.Framework.Utility
@model List<NccPost>
@{

}

@foreach (var page in Model)
{
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span8">
                    <h4><strong><a href="#">@page.Title</a></strong></h4>
                </div>
            </div>
            <div class="row">
                @*<div class="span2">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/260x180" alt="">
                        </a>
                    </div>*@
                <div class="span10">
                    @{
                        var len = page.Content.Length;
                        if (len > 200)
                        {
                            len = 200;
                        }
                        var content = page.Content.Substring(0, len);
                        <p>@Html.Raw(content) ...<a href="/Post/Details/?Slug=@page.Slug">More</a></p>
                    }
                    @*<p><a class="btn" href="/Post/Details/?Slug=@page.Slug">Read more</a></p>*@
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <p></p>
                    <p>
                        <i class="icon-user"></i> by <a href="#">@page.Author.FullName</a>
                        | <i class="icon-calendar"></i> @page.PublishDate.ToString("yyyy-MM-dd hh:mm tt")
                        | <i class="icon-comment"></i> <a href="#">@page.Comments.Count() Comments</a>
                        @*| <i class="icon-share"></i> <a href="#">39 Shares</a>*@
                        | <i class="icon-tags"></i> Category :
                        @foreach (var cat in page.Categories)
                        {
                            <a href="#"><span class="label label-primary">@cat.Category.Name</span></a>
                        }
                        | <i class="icon-tags"></i> Tags :
                        @foreach (var tag in page.Tags)
                        {
                            <a href="#"><span class="label label-info">@tag.Tag.Name</span></a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
                        } 

