@using NetCoreCMS.Framework.Utility
@using NetCoreCMS.Modules.Cms.Models.ViewModels;

@model HomePageViewModel

@{
    Layout = Constants.SiteLayoutName;
    var active = "active";
    var count = 0;
    ViewBag.CurrentLanguage = Model.CurrentLanguage;
}

@if (Model.StickyPost != null)
{
    <div class="stickyPost" style="margin-top:10px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fa fa-thumb-tack"></i>@_T["Sticky"]
                </div>
            </div>
            <div class="panel-body">
                @Html.Partial("_PostRow", Model.StickyPost)
            </div>
        </div>
    </div>
}

@if (Model.PageNumber == 0 && Model.FeaturedPosts != null && Model.FeaturedPosts.Count > 0)
{
    <div class="featuredPosts" style="margin-bottom:10px;">

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

            <ol class="carousel-indicators">
                @foreach (var item in Model.FeaturedPosts)
                {
                    <li data-target="#myCarousel" data-slide-to="@count" class="@active"></li>
                    active = "";
                    count++;
                }
            </ol>

            <div class="carousel-inner" role="listbox" style="border: dashed 1px;">
                @{ active = "active";}
                @foreach (var item in Model.FeaturedPosts)
                {
                    var post = ViewHelper.GetCurrentLanguagePostDetails(item, Model.CurrentLanguage, true);

                    if (post != null)
                    {
                        <div class="item @active" >
                            @if (string.IsNullOrEmpty(item.ThumImage) == false)
                            {
                                <a href="/Post/?slug=@post.Slug"><img src="@item.ThumImage" alt="" class="img-responsive" width="100%" /></a>
                            }
                            <div role="option" style="z-index:1000000; padding: 10px 10px;">
                                <a href="/Post/?slug=@post.Slug"><h3>@post.Title</h3></a>
                                <p >
                                    @Html.Raw(post.Content)
                                </p>
                            </div>
                        </div>

                        active = "";
                    }
                }
            </div>
            @if (Model.FeaturedPosts.Count > 1)
            {
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="height:70%">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="height:70%">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
        </div>
    </div>
}
 
@if (Model.AllPosts != null && Model.AllPosts.Count > 0)
{
    <div class="allposts">
        @foreach (var item in Model.AllPosts)
        {
            @Html.Partial("_PostRow", item)
        }
    </div>
}

<div class="row">
    @if (Model.PreviousPage >= 0)
    {
        <div class="pull-left"><a href="/CmsHome/?pageNumber=@Model.PreviousPage">< @_T["Previous"]</a></div>
    }
    @if (Model.NextPage <= Model.TotalPage)
    {
        <div class="pull-right" ><a href="/CmsHome/?pageNumber=@Model.NextPage">@_T["Next"] ></a></div>
    }    
</div>


