@model SbrGroup

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Group Create";
    ViewData["PageSubtitle"] = "Create a new item";
    if (Model.Id > 0)
    {
        ViewData["PageTitle"] = "Group Update";
        ViewData["PageSubtitle"] = "Update an existing item";
    }
    var controllerName = "SbrGroup";
}
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
            </div>
            <div class="panel-body">

                <form id="createEditForm" class="form-horizontal" asp-controller="@controllerName" asp-action="CreateEdit" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input type="hidden" asp-for="Status" value="@Model.Status" />
                    <div class="col-sm-6 pull-left">
                        <div class="form-group">
                            <label class="col-md-3 text-right">Name </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" asp-for="Name" placeholder="" value="@Model.Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 text-right">Order </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" asp-for="Order" placeholder="" value="@Model.Order" />
                            </div>
                        </div>

                        <div>
                            <a asp-controller="@controllerName" asp-action="Manage" class="btn btn-default">Back</a>
                            <input type="submit" class="btn btn-primary" name="Save" value="Save" />
                            @*<input type="submit" class="btn btn-default" name="Save" value="Save And Edit" />*@
                        </div>

                    </div>


                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{

}
