<!-- Loading -->
<div id="loadingMask" class="loader loader-double"></div>

<!-- Header -->
<div class="container-fluid topHeader">
    <div class="container">
        <div class="">
            <a href="/">
                <div class="headerBig">
                    <img src="/Themes/BSMRSTU/images/logo.png" height="50" />
                    <div style="float:left;">
                        <h1>@ViewBag.WebSite.Name</h1>
                        <h4>@ViewBag.WebSite.Tagline</h4>
                    </div>
                    
                </div>
                <div class="headerSmall">
                    <img src="/Themes/BSMRSTU/images/logo.png" height="50" />
                    <div style="float:left;">
                        <h1>@ViewBag.WebSite.SiteTitle</h1>
                        <h4>@ViewBag.WebSite.Tagline</h4>
                    </div>
                </div>
            </a>
        </div>
        @*<div id="topMenu" class="topMenu pull-right">
            @{
                var menus = GlobalConfig.Menus.Where(x => x.Position == "Top");
                foreach (var item in menus)
                {
                    foreach (var menuItem in item.MenuItems)
                    {
                        <a href="@menuItem.Url">@menuItem.Name</a><span> | </span>
                    }
                }
                if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a><span> | </span>
                    <a asp-area="" asp-controller="ManageAccount" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a><span> | </span>
                    <a asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a><span> | </span>
                    <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                }
            }
        </div>*@        
    </div>
</div>