@using System.Collections

@model List<NccCategory>

@{
    Layout = Constants.AdminLayoutName;
    var mainName = "Category";
    var controllerName = "Category";
    ViewData["PageTitle"] = mainName + " Manage";
    ViewData["PageSubtitle"] = "Manage existing " + mainName.ToLower();
}
<style>
    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .table th {
        text-align: center;
    }
    .table td {
        text-align: center;
    }
</style> 
<div class="row">
    <div class="col-md-12 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right"><a asp-controller="@controllerName" asp-action="CreateEdit" class="btn btn-outline btn-primary btn-xs">Add New</a></div>
            </div>
            <div class="panel-body">
                <table id="pageListDt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Image</th>
                            <th>Parrent</th>
                            <th>Create By</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (GlobalConfig.WebSite.IsMultiLangual == true || item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).Count() <= 0)
                                    {
                                        for (var i = 0; i < item.CategoryDetails.Count; i++)
                                        {
                                            if (i > 0)
                                            {
                                                <hr />
                                            }
                                            <span>@item.CategoryDetails[i].Language: </span><span>@item.CategoryDetails[i].Name</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).FirstOrDefault().Name</span>
                                    }
                                </td>
                                <td>
                                    @if (GlobalConfig.WebSite.IsMultiLangual == true || item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).Count() <= 0)
                                    {
                                        for (var i = 0; i < item.CategoryDetails.Count; i++)
                                        {
                                            if (i > 0)
                                            {
                                                <hr />
                                            }
                                            <span>@item.CategoryDetails[i].Language: </span><span>@item.CategoryDetails[i].Slug</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).FirstOrDefault().Slug </span>
                                    }
                                </td>
                                <td style="text-align:center;"><img src="@item.CategoryImage" style="max-width:300px;max-height:100px;" /></td>
                                <td style="text-align:center;">
                                    @if (item.Parent != null)
                                    {
                                        <span>@item.Parent.Name</span>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td style="text-align:center;">@item.CreateBy</td>
                                <td style="text-align:center;">@Html.Raw(item.CreationDate.ToString("MMM dd, yyyy hh:mm tt"))</td>
                                <td style="text-align:center;">
                                    @if (item.Status == EntityStatus.Active)
                                    {
                                        <span>Active</span>
                                    }
                                    else
                                    {
                                        <span>Inactive</span>
                                    }
                                </td>
                                <td style="text-align:center;">                                    
                                    <a asp-controller="@controllerName" asp-action="CreateEdit" asp-route-id="@item.Id" class="btn btn-xs btn-primary btn-outline">Edit</a>
                                    @if (item.Status == EntityStatus.Active)
                                    {
                                        <a asp-controller="@controllerName" asp-action="StatusUpdate" asp-route-id="@item.Id" class="btn btn-xs btn-danger btn-outline">Inactive</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="@controllerName" asp-action="StatusUpdate" asp-route-id="@item.Id" class="btn btn-xs btn-success btn-outline">Active</a>
                                    }
                                    <a asp-controller="@controllerName" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Delete</a>

                                    @if (GlobalConfig.WebSite.IsMultiLangual == true || item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).Count() <= 0)
                                    {
                                        for (var i = 0; i < item.CategoryDetails.Count; i++)
                                        {
                                            <a asp-controller="@controllerName" asp-action="Index" asp-route-slug="@item.CategoryDetails[i].Slug" class="btn btn-xs btn-info btn-outline" target="_blank"><i class="fa fa-eye"></i> @item.CategoryDetails[i].Language</a>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-controller="@controllerName" asp-action="Index" asp-route-slug="@item.CategoryDetails.Where(x => x.Language == GlobalConfig.WebSite.Language).FirstOrDefault().Slug" class="btn btn-xs btn-info btn-outline" target="_blank"><i class="fa fa-eye"></i> @GlobalConfig.WebSite.Language</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
</div>
 
@section Scripts{
    <link href="~/lib/DataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap.min.js"></script>
}
