@using NetCoreCMS.Modules.News.Models
@using System.Collections
@{
    var i = 0;
}
@model NeNewsViewModel

<div class="@Model.ColumnClass">
    @if (Model.HeaderTitle != "" || Model.FooterTitle != "")
    {
        <div class='panel panel-default'>
            @if (Model.HeaderTitle != "")
            {
                <div class='panel-heading' style="color:@Model.ColumnColor; background-color:@Model.ColumnBgColor;">
                    @Html.Raw(Model.HeaderTitle)
                </div>
            }
            <div class='panel-body'>
                <marquee behavior="scroll" direction="up" scrollamount="5" height="100">
                    @foreach (var item in Model.NeNewsList)
                    {
                        if (i == 0)
                        {
                            i = 1;
                        }
                        else
                        {
                            <hr />
                        }
                        <span><a href="/NeNews/Details?newsId=@item.Id">@Html.Raw(item.Name)</a></span>
                    }
                </marquee>
            </div>
            @if (Model.FooterTitle != "")
            {
                <div class='panel-footer' style="color:@Model.ColumnColor; background-color:@Model.ColumnBgColor;">
                    @Html.Raw(Model.FooterTitle)
                </div>
            }
        </div>
    }
    else
    {
        <marquee behavior="scroll" direction="up" scrollamount="5" height="100">
            @foreach (var item in Model.NeNewsList)
            {
                if (i == 0)
                {
                    i = 1;
                }
                else
                {
                    <hr />
                }
                <span><a href="/NeNews/Details?newsId=@item.Id">@Html.Raw(item.Name)</a></span>
            }
        </marquee>
    }
</div>


