@using NetCoreCMS.Framework.Utility
@using System.Collections

@model List<NccMediaViewModel>

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Image Gallary";
    ViewData["PageSubtitle"] = "Manage existing image media";
    if (ViewBag.IsFile)
    {
        ViewData["PageTitle"] = "File Storage";
        ViewData["PageSubtitle"] = "Manage existing files";
    }
}

@section Styles{
    <link href="~/lib/lightbox2/src/css/lightbox.css" rel="stylesheet" />
}  


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right"><a asp-controller="MediaHome" asp-action="Upload" asp-route-isFile="@ViewBag.IsFile" class="btn btn-outline btn-primary btn-xs">Upload</a></div>
            </div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    if (item.IsDir)
                    {
                        <a asp-controller="MediaHome" asp-action="Index" asp-route-sq="@item.FullPath" asp-route-isFile="@ViewBag.IsFile">
                            <div style="float:left; margin:5px;padding:5px; width:200px; height:235px; text-align:center; border:1px solid; overflow:hidden; display:table;">
                                <span style="vertical-align:middle;  display: table-cell;">
                                    <strong>@item.FileName</strong> <br />
                                    @if (item.TotalSubDir > 0)
                                    {
                                        <span>Dir(@item.TotalSubDir)</span><br />
                                    }
                                    @if (item.TotalFile > 0 && ViewBag.IsFile==true)
                                    {
                                        <span>Total File(@item.TotalFile) </span>
                                    }
                                    else if (item.TotalFile > 0)
                                    {
                                        <span>Total Image(@item.TotalFile) </span>
                                    }
                                </span>
                            </div>
                        </a>
                    }
                    else if(item.IsImage)
                    {
                        <div style="float:left; margin:5px;padding:5px; width:200px; height:235px; text-align:center; border:1px solid; overflow:hidden;">
                            <a href="@item.FullPath" data-lightbox="image-gallary" data-title="@item.FileName">
                                <img src="@item.FullPath" width="188px" height="120px" title="@item.FileName" />
                                @*<img id="myImg"  src="~/Images/docs-icon.png" width="188px" height="120px" title="@item.FileName" />*@
                                @if (item.FileName.Length > 11)
                                {
                                    <span>@item.FileName.Substring(0, 11)</span>
                                    <span> ~ </span>
                                    <span>@item.FileName.Substring(item.FileName.LastIndexOf("."), 4)</span>
                                }
                                else
                                {
                                    <span>@item.FileName</span>
                                }
                                (@item.ItemSize)<br />
                            </a>
                            <span>Cr: @item.CreationTime.ToString("yyyy-MM-dd hh:mm tt")</span>
                            <input type="text" class="form-control" onClick="this.select();" value="@item.FullPath" />
                            <hr style="padding:2px;margin:1px;" />
                            @*<a asp-controller="CmsMedia" asp-action="Rename" asp-route-fullPath="@item.FullPath" asp-route-parrentDir="@item.ParrentDir" class="btn btn-xs btn-outline btn-primary">Rename</a>*@
                            <a asp-controller="MediaHome" asp-action="Delete" asp-route-fullPath="@item.FullPath.Replace("/","\\")" asp-route-parrentDir="@item.ParrentDir" asp-route-isFile="@ViewBag.IsFile" class="btn btn-xs btn-outline btn-danger">Delete</a>
                        </div>
                    }
                    else
                    {
                        <div style="float:left; margin:5px;padding:5px; width:200px; height:235px; text-align:center; border:1px solid; overflow:hidden;">
                            <a href="@item.FullPath" target="_blank">
                                <img src="~/Images/docs-icon.png" width="188px" height="120px" title="@item.FileName" />
                                @if (item.FileName.Length > 11)
                                {
                                    <span>@item.FileName.Substring(0, 11)</span>
                                    <span> ~ </span>
                                    <span>@item.FileName.Substring(item.FileName.LastIndexOf("."), 4)</span>
                                }
                                else
                                {
                                    <span>@item.FileName</span>
                                }
                                (@item.ItemSize)<br />
                            </a>
                            <span>Ct: @item.CreationTime.ToString("yyyy-MM-dd hh:mm tt")</span>
                            <hr style="padding:2px;margin:1px;" />
                            @*<a asp-controller="CmsMedia" asp-action="Rename" asp-route-fullPath="@item.FullPath" asp-route-parrentDir="@item.ParrentDir" class="btn btn-xs btn-outline btn-primary">Rename</a>*@
                            <a asp-controller="MediaHome" asp-action="Delete" asp-route-fullPath="@item.FullPath.Replace("/","\\")" asp-route-parrentDir="@item.ParrentDir" asp-route-isFile="@ViewBag.IsFile" class="btn btn-xs btn-outline btn-danger">Delete</a>
                        </div>
                    }
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

               <!-- The Modal -->
               <div id="myModal" class="modal">
                   <span class="close">&times;</span>
                   <img class="modal-content" id="img01">
                   <div id="caption"></div>
               </div>


@section Scripts{
    <script src="~/lib/lightbox2/src/js/lightbox.js"></script>
}
