@using Microsoft.AspNetCore.Identity
@using NetCoreCMS.Framework.Utility

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @GlobalConfig.WebSite.Name Admin Panel</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>        
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>        
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/common.js" asp-append-version="true"></script>

    </environment>

    <link href="/Theme/Admin/Default/css/themeStyle.css" rel="stylesheet" />
    <link href="/Theme/Admin/Default/css/sidebar.css" rel="stylesheet" />
    <link href="~/lib/css-loader/dist/css-loader.css" rel="stylesheet" />

</head>
<body>
    <div id="loadingMask" class="loader loader-double"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Admin" asp-action="Index" class="navbar-brand">NetCoreCMS Admin</a>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="HelloHome" asp-action="Index">Hello World</a></li>
                    
                </ul>*@
                 @await Html.PartialAsync("_AdminLoginPartial") 
            </div>
        </div>
    </nav>
    <div class="row">
        <nav class="navbar navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>*@
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a asp-controller="Blog" asp-action="Index">New Post</a></li>
                                <li><a asp-controller="Blog" asp-action="Manage">All Post</a></li>
                                <li><a asp-controller="Blog" asp-action="PostCategory">Category</a></li>
                                <li><a asp-controller="Blog" asp-action="Comments">Comments</a></li>
                                <li><a asp-controller="Blog" asp-action="Tag">Tag</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a asp-controller="CmsPage" asp-action="Create">New Page</a></li>
                                <li><a asp-controller="CmsPage" asp-action="Index">Manage</a></li>                                
                            </ul>
                        </li>
                         <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a asp-controller="MediaHome" asp-action="Index">New Media</a></li>
                                <li><a  asp-controller="MediaHome" asp-action="Manage">Manage</a></li>
                            </ul>
                        </li>
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Appearance<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a asp-controller="CmsMenu" asp-action="Index"> Menu </a></li>
                                <li><a asp-controller="CmsWidget" asp-action="Index"> Widget </a></li>
                                <li><a asp-controller="CmsTheme" asp-action="Index"> Theme </a></li>
                            </ul>
                        </li>

                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a asp-controller="CmsSettings" asp-action="Index"> General </a></li>
                                <li><a asp-controller="CmsSettings" asp-action="Reading"> Reading </a></li>
                                <li><a asp-controller="CmsSettings" asp-action="Writing"> Writing </a></li>
                                <li><a asp-controller="CmsSettings" asp-action="Media"> Media </a></li>
                                <li><a asp-controller="CmsSettings" asp-action="PermaLink"> PermaLink</a></li>
                            </ul>
                        </li>
                    </ul>

                    @await Html.PartialAsync("_AdminLoginPartial")
                </div>
            </div>
        </nav>
        
        <div class="col-sm-12 main">
            <div id="messageContainer"></div>
            @RenderBody()
        </div>
    </div>

    <div class="row text-center">
        <hr />
        <footer>
            <p>&copy; 2017 - NetCoreCMS.Web</p>
        </footer>
    </div>

    <script type="text/javascript">

        function htmlbodyHeightUpdate() {
            var height3 = $(window).height()
            var height1 = $('.nav').height() + 50
            height2 = $('.main').height()
            if (height2 > height3) {
                $('html').height(Math.max(height1, height3, height2) + 10);
                $('body').height(Math.max(height1, height3, height2) + 10);
            }
            else {
                $('html').height(Math.max(height1, height3, height2));
                $('body').height(Math.max(height1, height3, height2));
            }
        }

        $(document).ready(function () {
            htmlbodyHeightUpdate()
            $(window).resize(function () {
                htmlbodyHeightUpdate()
            });
            $(window).scroll(function () {
                height2 = $('.main').height()
                htmlbodyHeightUpdate()
            });
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
