@using NetCoreCMS.Branch.Models
@model NccBranch
@{
    Layout = Constants.SiteLayoutName;
    ViewData["PageTitle"] = "Branch List";
    ViewData["PageSubtitle"] = "List of branch";
    var googleUrl = "https://maps.google.com/maps/embed?pb=" + Model.GoogleLocation;
}
    <style>
        .branch .card-title a {
            color: black;
        }
            .branch .card-title a:hover {
                font-weight:bold;
            }
        .card {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            padding-left: 10px;
            padding-right: 15px;
            padding-bottom: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            height:400px;
        }
        .google-maps {
            position: relative;
            padding-bottom: 75%;
            // This is the aspect ratio height: 0;
            overflow: hidden;
        }

            .google-maps iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                /*height: 100% !important;*/
                padding-top: 10px;
                padding-left: -5px;
                padding-right: -10px;
                padding-bottom: -5px;
            }
    </style>
    <div class="branch">
        <div class="text-center">
            <h2><strong>@Model.Name</strong></h2>
        </div>
        <div class="boxDesign">            
                <div class="col-md-12">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-block">
                                @*<h3 class="card-title"><a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>*@
                                <h3 class="card-subtitle mb-2 text-danger"> ফোন- <strong>@Model.Phone</strong></h3>
                                <p class="card-text">@Model.Address</p>
                                <p class="card-text">@Model.Description</p>
                            </div>
                        </div>
                        <a asp-controller="Branch" asp-action="Index" class="text-warning bottom-left">সকল শাখা</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            @if (String.IsNullOrEmpty(Model.GoogleLocation) == false)
                            {
                                <div class="google-maps">
                                    <iframe width="100%" height="390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=@googleUrl  ></iframe>
                                </div>                            
                            }
                        </div>
                    </div>
                </div>
        </div>
    </div>
@section Scripts{
    <script type="text/javascript">

    </script>
}
