@using NetCoreCMS.Branch.Models
@model List<NccBranch>
@{
    Layout = Constants.SiteLayoutName;
    ViewData["PageTitle"] = "Branch List";
    ViewData["PageSubtitle"] = "List of branch";

}
    <style>
        .branch .card-title a {
            color: black;
        }
            .branch .card-title a:hover {
                font-weight:bold;
            }
        .card {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            padding-left: 10px;
            padding-right: 15px;
            padding-bottom: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            /*height:250px;*/
        }
        .card-block-body {
            height: 130px;
            overflow: hidden;
        }
    </style>
    <div class="branch">
        <div class="text-center">
            <h2><strong>যে সকল শাখায় কার্যক্রম চলবে</strong></h2>
        </div>
        <div class="boxDesign">
            @foreach (var item in Model.Where(x => x.IsAdmissionOnly == false).ToList())
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title"><a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
                            <div class="card-block-body">
                                <h4 class="card-subtitle mb-2 text-danger"> ফোন- <strong>@item.Phone</strong></h4>
                                <p class="card-text">@item.Address</p>
                            </div>                            
                            <a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id" class="pull-right text-warning">দিকনির্দেশনা...</a>
                        </div>
                    </div>
                </div>
                
                @*<td>@item.LatLon</td>*@
            }
        </div>
        <div class="text-center">
            <h2><strong>যে সকল শাখায় ভর্তি হওয়া যাবে</strong></h2>
        </div>
        <div class="boxDesign">
            @foreach (var item in Model.Where(x => x.IsAdmissionOnly == true).ToList())
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title"><a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
                            <div class="card-block-body">
                                <h4 class="card-subtitle mb-2 text-danger"> ফোন- <strong>@item.Phone</strong></h4>
                                <p class="card-text">@item.Address</p>
                            </div>                            
                            <a asp-controller="Branch" asp-action="Details" asp-route-id="@item.Id" class="pull-right text-warning">দিকনির্দেশনা...</a>
                        </div>
                    </div>
                </div>
                @*<td>@item.LatLon</td>*@
            }
        </div>
    </div>
@section Scripts{
    <script type="text/javascript">

    </script>
}
