<div class="col-sm-4">
    <div class="row">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @* Page *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">
                            Page
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#recentPages">Recent</a></li>
                        <li><a data-toggle="tab" href="#viewAllPages">View All</a></li>
                        <li><a data-toggle="tab" href="#searchPages">Search</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="recentPages" class="tab-pane fade in active">
                            <div class="panel-body">
                                <div class="checkBoxList">
                                    @foreach (var page in ViewBag.RecentPages)
                                    {
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="recentPagesCheckBoxList" value="@page.Id" ncc-page-title="@page.Title">@page.Title</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="viewAllPages" class="tab-pane fade in">
                            <div class="panel-body">
                                <div id="allpagesCheckBoxList" class="checkBoxList">
                                    @foreach (var page in ViewBag.AllPages)
                                    {
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="recentPagesCheckBoxList" value="@page.Id" ncc-page-title="@page.Title">@page.Title</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="searchPages" class="tab-pane fade in">
                            <div class="panel-body">
                                @*<div id="searchPagesCheckBoxList" class="checkBoxList">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Page 1</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Page 2</label>
                                    </div>
                                    <div class="checkbox disabled">
                                        <label><input type="checkbox" value="">Page 3</label>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="pull-left">
                            <a id="selectAllPages" class="pull-left" href="#">Select All</a>
                        </div>
                        <div class="pull-right">
                            <button id="addPageToMenu" class="btn btn-outline btn-sm btn-primary" type="button">Add to Menu</button>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>

            @* Post *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                            Post
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#recentPost">Recent</a></li>
                                <li><a data-toggle="tab" href="#viewAllPost">View All</a></li>
                                <li><a data-toggle="tab" href="#searchPost">Search</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="recentPost" class="tab-pane fade in active" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="recentPostCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Page 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="viewAllPost" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="allPostCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Page 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="searchPost" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="searchPostCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Page 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Page 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a id="selectAllPost" class="pull-left" href="#">Select All</a>
                            </div>
                            <div class="pull-right">
                                <button id="addPostToMenu" class="btn btn-sm btn-primary" type="button">Add to Menu</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>

            @* Category *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                            Category
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#recentCategories">Recent</a></li>
                                <li><a data-toggle="tab" href="#viewAllCategorys">View All</a></li>
                                <li><a data-toggle="tab" href="#searchCategorys">Search</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="recentCategorys" class="tab-pane fade in active" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="recentCategorysCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Category 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="viewAllCategorys" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="allCategorysCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Category 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="searchCategorys" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="searchCategorysCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Category 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Category 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a id="selectAllCategorys" class="pull-left" href="#">Select All</a>
                            </div>
                            <div class="pull-right">
                                <button id="addCategoryToMenu" class="btn btn-sm btn-primary" type="button">Add to Menu</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>

            @* Module *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
                            Module
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#recentModules">Recent</a></li>
                                <li><a data-toggle="tab" href="#viewAllModules">View All</a></li>
                                <li><a data-toggle="tab" href="#searchModules">Search</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="recentModules" class="tab-pane fade in active" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="recentModulesCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Module 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="viewAllModules" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="allModulesCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Module 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="searchModules" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="searchModulesCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Module 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Module 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a id="selectAllModules" class="pull-left" href="#">Select All</a>
                            </div>
                            <div class="pull-right">
                                <button id="addModuleToMenu" class="btn btn-sm btn-primary" type="button">Add to Menu</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>

            @* Tag *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed" aria-expanded="false">
                            Tag
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#recentTags">Recent</a></li>
                                <li><a data-toggle="tab" href="#viewAllTags">View All</a></li>
                                <li><a data-toggle="tab" href="#searchTags">Search</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="recentTags" class="tab-pane fade in active" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="recentTagsCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Tag 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="viewAllTags" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="allTagsCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Tag 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="searchTags" class="tab-pane fade in" style="padding: 10px 10px;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="searchTagsCheckBoxList" class="checkBoxList">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 1</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Tag 2</label>
                                                </div>
                                                <div class="checkbox disabled">
                                                    <label><input type="checkbox" value="">Tag 3</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a id="selectAllTags" class="pull-left" href="#">Select All</a>
                            </div>
                            <div class="pull-right">
                                <button id="addTagToMenu" class="btn btn-sm btn-primary" type="button">Add to Menu</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>

            @* Url *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" class="collapsed" aria-expanded="false">
                            Url
                            <i class="fa fa-angle-down" style="float:right;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <label>URL:</label>
                            <input class="form-control input-sm" type="text" id="url" />
                            <label>Target: </label>
                            <select class="form-control input-sm">
                                <option value="_blank">Blank Window</option>
                                <option value="parent">Parent</option>
                                <option value="_self">Self</option>
                                <option value="_top">Top</option>
                            </select>
                        </div>
                        <div class="panel-footer">

                            <div class="pull-right">
                                <button id="addUrlToMenu" class="btn  btn-outline btn-sm btn-primary" type="button">Add to Menu</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>