@{
    ViewBag.CurrentLayout = "HomeLayout";
}

<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("Parts/_Head")
        @Html.Raw(JavaScriptSnippet.FullScript)
        @RenderSection("Styles", required: false)
    </head>
    <body id="body">
        <!-- Zone TOP Start-->
        <!-- Header -->
        @Html.Partial("Parts/_Header")

        <!-- Navbar -->
        <nav id="mainNavbar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    @Html.Partial("Parts/_NavbarPart")
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Raw(MenuHelper.PrepareMenuHtml("Navigation"))
                    <div class="userMenu">
                        @await Html.PartialAsync("_SiteLoginPartial")
                    </div>
                </div>
            </div>
        </nav>
        <!-- Zone TOP End-->
        <!-- Full Width Slider Start -->
        @Html.Partial("Parts/_FullWidthSlider")        
        <!-- Full Width Slider End -->

        <!--  Main Body Start -->
        <div class="container mainBody">
            <!-- Left Column start -->
            @{
                if ((bool)this.ViewContext.HttpContext.Items["hasLeftColumn"])
                {
                    @Html.Partial("Parts/_LeftColumn");
                }

            }
            <!-- Left Column end -->

            <!-- Right Column start -->
            @{
                if ((bool)this.ViewContext.HttpContext.Items["hasRightColumn"])
                {
                    @Html.Partial("Parts/_RightColumn");
                }

            }
            <!-- Right Column end -->
            <!-- Main content Start -->
            <div class="pageContent col-md-@this.ViewContext.HttpContext.Items["bodyClassWidth"]">
                <!-- Featured Start -->
                @Html.Partial("Parts/_Featured")
                <!-- Featured End -->

                @RenderBody()
            </div>
            <!-- Main content End -->

        </div>
        <!--  Main Body End -->

        <!--  Footer Start -->
        @Html.Partial("Parts/_Footer")
        @RenderSection("Scripts", required: false)
    </body>
</html>

